@import '_reset';
body{background: #9db1b6;  
    }

ul{ display: flex;  flex-wrap:wrap;
    text-align:center;
    margin:auto;
    li{  width:100%;
        padding:1rem;
        max-width:25%;
        border:1px solid rgba(236, 226, 255, 0.666);
        margin:2rem auto;
        height:auto;
        a{text-decoration: none; font-size: 1.5rem;
            h1{margin-bottom:1rem; cursor: text!important;color:black  }
            img{width:40%;margin:auto;margin-bottom:.2rem;height:40%;  }
            button{background:transparent ;
            margin-left:1rem;
        text-transform:uppercase;
    border-radius:10px; cursor: pointer !important; &:hover {
        color:rgb(243, 243, 242);
    } }
        }
    }
}

@media only screen and ( max-width:768px ){	
    li{
        width:100%;
        max-width:40%;
        border:1px solid red;
    }
}


.search-box{

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    h4{font-size:2rem;letter-spacing: 1.3px;}
    .search-text{
        display: flex; /* added */
        align-items: center; /* added */
        background-color:#a4aad5;
      width:35%;
      height:2rem;
      margin-bottom: 1.5rem;
      border-radius:40px; margin: auto
    }::placeholder{
    margin: auto;
    background: transparent;
    text-align: center !important;
    font-size:1.5rem;
    height: auto;
    border-radius:40px;}
    letter-spacing: 2px;
}


